<h2>ATTENDANCE CONFIRMATION</h2>

<% if @perproge.present? %>
ID : <%= @perproge.id %><br>
NAME : <%= @perproge.perse.name %><br>
IC NO : <%= @perproge.perse.ic %><br>
EVENT : <%= @perproge.proge.name %><br>
<% end %>